.white{
    color: #f1f5f9;
    opacity: 0.6;
}
.personnel {
  background-color: red;
}
.cardOne {
  margin-top: 20px;
}
.cardOne {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  height: 149px;
}
.cards .title > p {
  color: #040429;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 96%;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.imagePersonne {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin-bottom: 13px;
  margin-top: 33px;
  font-family: "Gilroy";
}
.fourniture {
  background: #ad0101;
}
.extraction {
  background: #212146;;
}
.cards .titlewhite > p {
  color: #fff;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 96%;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.cards > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 96%;
}
.cardsecond{
    margin-top: 5px;
}
.confor{
    margin-top: 50px;
    padding: 10px;
}
.text{
    width: 100%;
}
.text > img{
    right: 20px;
    width: 300px;
    height: 200px;
    margin-left: 19rem;
}
.text >h3{

font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 96%;
color: #040429;
}

.text >p{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 124%;
margin-top: 20px;
text-align: justify;
}

